<h1>Cocktails (<%= @cocktails.count  %>)</h1>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= link_to cocktail_path(cocktail) do %>
        <div class="cocktail_card">
          <% if cocktail.photo.attached? %>
          <div class="cocktail-card-photo d-flex align-items-start">
            <%= cl_image_tag cocktail.photo.key, crop: :fit, class: 'cocktail-img' %>
          </div>
          <% else %>
            <div class="cocktail-card-color-square"></div>
          <% end %>
          <div class="d-flex flex-column align-items-center cocktail-card-text">
            <h5 class="mt-2"><%= cocktail.name %></h5>
            <p clas="mt-2">See recipe</p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
