<h1><%= @cocktail.name %></h1>


<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> | <%= dose.description %></li>
  <% end %>
</ul>

<h4>Add an ingredient !</h4>
<%= render "./doses/dose_form", cocktail: @cocktail, dose: @dose %>
