<nav>
  <%= link_to "CKT", root_path, class: 'logo' %>
  <div class="menu">
    <%= link_to "Home", root_path %>
    <%= link_to "New cocktail", new_cocktail_path, class: 'button-white' %>
  </div>
</nav>
