nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #80808042;
  min-height: 15vh;
  background-color: $pink;
}

.menu a {
  text-decoration: none;
  margin-right: 25px;
  color: #fff;
  &:hover{
    text-decoration: underline;
  }
}

@media(max-width: 414px) {
  .home {
    display: none;
  }
}
