
// Fonts and colors
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@300;400;700&display=swap');
$pink: #F27979;
$green: #5DA649;
$red: #F24E29;
$yellow: #F2D64B;
$blue: #38D0F2;

// External librairies
@import "bootstrap/scss/bootstrap";

//CSS partial
@import "components/index";

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
}
